.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.footer-style{
  /* overflow-y: hidden; */
  overflow-x: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .card{
    width: 20rem;
    margin: 10px auto;
  }
}
@media only screen and (min-width: 992px) {
  .card{
    width: 18rem;
  };
}
.card{
  margin: 10px 0;
}
.newsfooter{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.list-style a{
  list-style: none;
  border-right: 1px solid #ffffff70;
  color: #fff;
  display: inline-block;
  line-height: 13px;
  padding: 0 10px;
  text-decoration: none;
}
.newsfooter li{
  display: inline-block;
  text-decoration: none;
}
.privacy a{
  text-decoration: none;
  color: white;
  padding: 0 10px;
}